body {
    background-color:rgb(243, 244, 252);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.title {
    font-family: 'IBM Plex Mono', monospace;;
    font-weight: 200;
    text-align: center;
    font-size: 5.5vw;
    color: rgb(17, 16, 19);
    margin-bottom: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
}

.titleBig {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 9vw;
    margin-top: 35vh;
    color: rgb(17, 16, 19);
}

#titleBlock {
    margin: auto;
    width: auto;
    top: 8%;
    left: 10%;
    right: 10%;
    box-shadow: 0 3px 10px rgb(0, 0, 0);
    border: 1px solid rgb(17, 16, 19);;
    padding: 70px;
    position: fixed;
}

.title span{
    font-weight: bold;
    color: rgb(177, 135, 19);
}

#buttonBlock {
    width: auto;
    position: fixed;

    top: 73vh;
    left: 15%;
    right: 15%;
    
    align-items: center;
    margin:auto;
    display: flex inline;
}

.button {
    width: auto;
    height: 7vh;
    margin: auto;
    font-size: 235%;
    border: 0;
    background-color: transparent;
    font-family: 'Work Sans', sans-serif;

    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.button:hover {
    color:rgb(177, 135, 19);
    vertical-align: middle;
    transform: translateY(-5px);
}

.button:active {
    color:rgb(116, 87, 9);
}

#portfolioButton {
    font-size: 275%;
}

#canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
}

#pictures {

}