body {
    background-color:rgb(243, 244, 252);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

html {
    scroll-snap-type: y mandatory;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.title {
    font-family: 'IBM Plex Mono', monospace;;
    font-weight: 200;
    text-align: center;
    font-size: 6.5vh;
    color: rgb(17, 16, 19);
    margin-bottom: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    resize: both;
}

.titleBig {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 9vw;
    font-weight: 600;
    margin-top: 35vh;
    color: rgb(17, 16, 19);
}

#titleBlock {
    container-type: inline-size;
    resize: both;
    margin: auto;
    width: auto;
    height: auto;
    top: 7.5%;
    left: 5%;
    right: 5%;
    box-shadow: 0 3px 10px rgb(0, 0, 0);
    border: 1px solid rgb(17, 16, 19);;
    padding: 70px;
    position: fixed; 
    overflow-wrap: break-word;
}

.title span{
    font-weight: bold;
    color: rgb(177, 135, 19);
}

#buttonBlock {
    width: auto;
    position: fixed;

    top: 60vh;
    left: 15%;
    right: 15%;
    
    align-items: center;
    margin:auto;
    display: flex inline;
}

.button {
    width: auto;
    height: 7vh;
    margin: auto;
    font-size: 235%;
    border: 0;
    background-color: transparent;
    font-family: 'Work Sans', sans-serif;

    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.button:hover {
    color:rgb(177, 135, 19);
    vertical-align: middle;
    transform: translateY(-5px);
}

.button:active {
    color:rgb(116, 87, 9);
}

#portfolioButton {
    font-size: 275%;
}

#gameButtonBlock {
    width: auto;
    margin-top: 56vh;    
    align-items: center;
    text-align: center;
    position: relative;
}

section {
    scroll-snap-align: center;
}

.gameButton {
    margin-bottom: 10vw;
    position: relative;
}

.gameButton img {
    margin-top: 0;
    height: auto;
    width: 80%;
    border: 2px solid rgb(17, 16, 19);;
    box-shadow: 0 3px 10px rgb(0, 0, 0);

    filter: brightness(100%);
    scroll-snap-align: center;
}

.gameButton img:hover {
    filter: brightness(33%);
    transition: all 0.75s ease;
}

#gameImage1:hover + #game1 {
    opacity: 1;
    transition: all 0.5s ease;
}

#gameImage2:hover + #game2 {
    opacity: 1;
    transition: all 0.5s ease;
}

.gameDescription {
    font-family: 'Work Sans', sans-serif;
    font-size: 2vw;
    margin-top: 3vh;

    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(243, 244, 252);

    pointer-events: none;

    opacity: 0;
}

.goldText {
    color:rgb(177, 135, 19);
    font-weight: bold;
}

.aboutMeDescription {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5vw;
    font-weight: 300;
    color: rgb(17, 16, 19);
    display: inline-block;
    position:relative;
    top: 45%;
    transform: translate(0, -50%);
}

.aboutMeSection {
    margin: auto;
    height: 100vh;
    width: 75%;
    scroll-snap-align:center;
}